body
{
    background-image: url("/bckimg/paisley_b.png");
}

h1
{
    font-size: 50px;
    background-image: url("bckimg/moulin.png");
    color: gray;
    text-shadow: 4px 4px 4px white;
}
h2
{
    color: white;
    
}

h3
{
    color: white;
    text-align: right;
    font-size: 30px;
    
    text-shadow: 4px 4px 4px lightblue;
}

.menu
{
    color: white;
    background-color: black;
    width: 19%;
    height: 100%;
    float: left;
    border: 3px solid lightgray;
}
.contenido
{
    width: 80%;
    float: right;
}
a
{
    font-size: 30px;
    color: red;
}

div
{
    overflow: auto;
}

.dcuento
{
    
    margin: 0 auto;
    width: 90%;
    background: black;
    margin-bottom: 20px;
}

.resumen
{
    margin: 0 auto;
    float: right;
    background-color: black;
    height: 150px;
    color: white;
    font-size: 18px;
    overflow: auto;
}

.dcuento img
{
    height: 150px;
    width: 150px;
    float: right;
    margin-right: 10px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.dmala
{
    margin: 0 auto;
    width: 90%;
}

.resumen-mala
{
    margin: 0 auto;
    float: left;
    background-color: black;
    height: 150px;
    color: white;
    
    font-size: 18px;
    overflow: auto;
}
.dmala img
{
    height: 150px;
    width: 100px;
    float: right;
    margin-left: 10px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;    
}

.dmil
{
    margin: 0 auto;
    width: 90%;
}

.resumen-cuento
{
    margin: 0 auto;
    float: right;
    background-color: black;
    height: 200px;
    color: white;
    
    font-size: 18px;
    overflow: auto;
}

.dmil img
{
    height: 198px;
    width: 148px;
    float: right;
    margin-right: 10px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px; 
}