body
{
    background-color: black;
    background-image: url(bckimg/moulin.png);
}

h2
{
   background-color: gray; 
   margin-bottom: 0px;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   padding-left: 20px;
   padding-top: 5px;
}

.subt a
{
    color: white;
        
}


.titulo
{
    font-size: 40px;
}
h1
{
    
    font-size: 40px;
    color: white;
    float: right;
}

.t1 img
{
    float: left;
    border-radius: 20px;
    vertical-align: middle;
    width: 300px;
}

.menu
{
    color: white;
    width: 19%;
    background-color: black;
    border: 3px solid white;
    float: left;
}

.contenido
{
    color: white;
    width: 70%;
    float: right;
    padding: 10px;
}

.intro
{
    margin-top: 0px;
    background-image: url("bckimg/tree_bark_b.png");
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
    font-size:18px;
    text-align: right;
    
}

.intro img
{
    width: 150px;
    height: 150px;
    padding-right: 5px;
    border-radius: 30px;
}