body
{
    background-image: url("../bckimg/the-night.png");
}

h1
{
    font-size: 40px;
    background-color: black;
    color: white; 
}

h2
{
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: gray;
    padding-left: 5px;
    padding-top: 3px;
}

.menu
{
    width: 18%;
    float: left;
    background-color: black;
    border: 3px solid white;
}

.contenido
{
    margin-left: 10px;
    padding: 10px;
    width: 70%;
    float: right;
    background-color: black;
    color: white;  
}

.resumen
{
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    overflow: auto;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
}

div img
{
    width: 100px;
    height: 150px;
    float: right;
    padding: 10px;
    
}

.h2op
{
    margin-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-left: 5px;
    padding-top: 3px;
    color: darkred;
}
.opinion
{
    margin-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    overflow: auto;
    font-size: 18px;
    padding-left: 5px;
    padding-top: 5px;
}